/* Google fonts*/


@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap');

/* Colors
#f9c703 Yellow
#f56809 Orange
#ea006b Pink
*/

body {
    background-color: white;
    color: black;
    font-family: "quicksand", sans-serif;
}

h1, h2, h3 {
    font-family: "luckiest guy", sans-serif;
    color: black;
}

.navbar * {
    background-color: white;
}

.navbar-brand {
    font-family: "luckiest guy", sans-serif;
    font-size: 24px;
}

header h1 {
    color: white;
    font-size: 320%;
    text-align: center;
    padding: 4rem 0 2rem 0;
}

header {
    background-color: white;
    background-image: url(../images/Doodle\ jpg.png);
    background-size: cover;
    min-height: 200px;

}

footer {
    background-color: #ea006b;
}

footer, footer h1, footer h3 {
    color: white;
    padding-top: 10px;
    margin: 0px;
}

#social-media {
    color: white;
    font-size: 2rem;
}




