/* Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Quicksand:wght@300..700&display=swap');

/* Colors
#f9c703 Yellow
#f56809 Orange
#ea006b Pink
*/

body {
    background-color: white;
    color: black;
    font-family: "quicksand", sans-serif;
}

h1, h2, h3 {
    font-family: "caveat brush", sans-serif;
    color: black;
}

.navbar * {
    background-color: white;
}

.navbar-brand {
    font-family: "caveat brush", sans-serif;
    font-size: 34px;
}

footer {
    background-color: #f9c703;
}

footer, h1, h2, h3 {
    color: black;
}

#larger {
    font-size: 50px;
    padding-top: 5px;
}


