/* Google fonts*/


@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap');

/* Colors
#f9c703 Yellow
#f56809 Orange
#ea006b Pink
*/

body {
    background-color: white;
    color: black;
    font-family: "quicksand", sans-serif;
}

h1, h2, h3 {
    font-family: "luckiest guy", sans-serif;
    color: black;
}

.navbar * {
    background-color: white;
}

.navbar-brand {
    font-family: "luckiest guy", sans-serif;
    font-size: 24px;
}

footer {
    background-color: #ea006b;
}

footer, h1, h2, h3 {
    color: white;
    padding-top: 6px;
    margin: 0px;
}

address {
    margin-bottom: 5px;
}



