/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap');


body {
    background-color: white;
    color: black;
    font-family: "quicksand", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "luckiest guy", sans-serif;
    color: black;
}

.btn {
    color: white;
    background-color: black;
    border: none;
}

#contact-button {
    color: black;
    background-color: white;
}

img {
    border: 6px solid white;
}

.navbar-brand {
    font-family: "luckiest guy", sans-serif;
    font-size: 24px;
}

#hero {
    background-color: #ffa8b7;
    background-image: url(../images/Doodle-outline-vit.webp);
    background-size: cover;
}

header h1 {
    text-align: center;
    padding: 8rem 0 2rem 0;
}

#header, #about, #card, #membership, #membership-form, #index-photos {
    background-color: #ffa8b7;
}

#workshop-card {
    background-color: #67e1f4;
    border: 6px solid white;
}

#dandd-card {
    background-color: #4ae6c4;
    border: 6px solid white;
}

#hero-workshop {
    background-color: #67e1f4;
    background-image: url(../images/Doodle-outline-vit.webp);
    background-size: cover;
}

.blue {
    background-color: #67e1f4;
}

.title {
    font-family: "luckiest guy", sans-serif;
    font-size: 25px;
    color: black;
}

#hero-dandd {
     background-color: #4ae6c4;
    background-image: url(../images/Doodle-outline-vit.webp);
    background-size: cover;
}

#green {
    background-color: #4ae6c4;
}

footer {
    background-color: black;
}

.footer-title {
     font-family: "luckiest guy", sans-serif;
    font-size: 25px;
    color: white;
}

footer {
    color: white;
    padding-top: 10px;
    margin: 0px;
}

#social-media-facebook, #social-media-instagram {
    color: white;
    font-size: 2rem;
}

#title-size {
    font-size: 3rem;
}

@media (min-width: 768px) {
    #title-size {
        font-size: 6rem;
    }
}

@media (min-width: 1440px) {
    #title-size {
        font-size: 7rem;
    }
}



