/* Google fonts*/


@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap');

/* Colors
#f9c703 Yellow
#f56809 Orange
#ea006b Pink
#f3a1c6 light pink
*/

body {
    background-color: white;
    color: black;
    font-family: "quicksand", sans-serif;
}

h1, h2, h3 {
    font-family: "luckiest guy", sans-serif;
    color: black;
}

.navbar * {
    background-color: white;
    text-align: center;
}

.navbar-brand {
    font-family: "luckiest guy", sans-serif;
    font-size: 24px;
}

header h1 {
    color: white;
    text-align: center;
    padding: 10rem 0 2rem 0;
}

header {
    background-color: #ea006b;
    background-image: url(../images/Doodle-outline-svart.png);
    background-size: cover;
    min-height: 400px;
}

#member {
    color: white;
    background-color: #ea006b;
    border: none;
}

#workshop h1 {
    color: white;
    font-size: 320%;
    text-align: center;
    padding: 4rem 0 2rem 0;
}

#workshop {
    background-color: #0ea9c1;
    background-image: url(../images/Doodle-outline-svart.png);
    background-size: cover;
    max-height: 200px;
}

#sign-up {
    color: white;
    background-color: #0ea9c1;
    border: none;
}

#drink-and-draw h1 {
    color: white;
    font-size: 320%;
    text-align: center;
    padding: 4rem 0 2rem 0;
}

#drink-and-draw {
    background-color: #f56809;
    background-image: url(../images/Doodle-outline-svart.png);
    background-size: cover;
    max-height: 200px;
}

footer {
    background-color: #ea006b;
}

footer, footer h1, footer h3 {
    color: white;
    padding-top: 10px;
    margin: 0px;
}

#social-media {
    color: white;
    font-size: 2rem;
}

#title-size {
    font-size: 3rem;
}

@media (min-width: 768px) {
    #title-size {
        font-size: 6rem;
    }
}

@media (min-width: 1440px) {
    #title-size {
        font-size: 7rem;
    }
}




